<form action="/" method="post">
  <%= params["message"] %> <br>
  Username: <input type="text" name="username" value=""><br>
  Password: <input type="password" name="password" value=""><br>
  <input type="submit" value="Log in">
</form>
</br>
<a href="/register">Not registered yeat?</a>