<form action="/register" method="post">
  <%= params["message"] %> <br>
  First name <br> <input type="text" name="fname" value="Arturs"><br>
  Last name <br> <input type="text" name="lname" value="Traubergs"><br>
  Username <br> <input type="text" name="uname" value="Tbergs"><br>
  Email <br> <input type="email" name="email" value="at0892@inbox.lv"><br>
  Password <br> <input type="password" name="password" value="1qaz"><br>
  password confirm <br> <input type="password" name="password_con" value="1qaz"><br>
  Birthday <br> <input type="date" name="bday" value=""><br>
  Gender <br> <input type="radio" name="sex" value="male" checked>Male <br>
          <input type="radio" name="sex" value="female">Female <br>
  <input type="submit" value="Register">
</form>
