<form action="/" method="get">
  <%= @success_log_in %> <br>
</form>
</br>

<form action="/user" method="post">
  <input type="hidden" name="username" value="<%= params["username"] %>">
  <input type="submit" value="Delete"/>
</form>

<form action="/edit" method="post">
  <input type="submit" value="Edit"/>
</form>