<form action="/" method="get">
  <%= @success_log_in %> <br>
  <input type="submit" value="edit">
</form>
</br>

<form action="/user" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="username" value="<%= params["username"] %>">
  <input type="submit" value="Delete"/>
</form>