<form action="/" method="get">
  <%= @success_log_in %> <br>
  <%= params["message"] %> <br>
</form>
</br>

<form action="/user" method="post">
  <input type="hidden" name="username" value="<%= params["username"] %>">
  <input type="submit" value="Delete"/>
</form>

<form action="/edit_user" method="get">
  <input type="submit" value="Edit"/>
</form>

<form action="/log_out" method="get">
  <input type="submit" value="Log out"/>
</form>